<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Balance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">EthOp</a>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://pypi.org/project/web3/">web3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="https://www.linkedin.com/in/dhananjay-pai">Connect with me</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
         <br>
         <div class="container">
         <p class="fw-semibold">This webapp is used to interact with ethereum blockchain via web3</p>
         </div>

        <br> 
        <div class="container">
            <div class="card">
                <div class="card-header">
                  GET TRANSACTIONS
                </div>
                <div class="card-body">
                  <h5 class="card-title">Get Transaction details</h5>
                  <p class="card-text">Get transactions, raw transactions, Transaction and raw transaction from block, 
                    wait for transaction receipt,  get transaction receipt, get transaction count.
                  </p>
                  <a href="/maketransactions/gettransactions" class="btn btn-primary">GET</a>
                </div>
                <br>
              </div>
              <div class="card">
                <div class="card-header">
                  SEND TRANSACTIONS
                </div>
                <div class="card-body">
                  <h5 class="card-title">Send Transactions</h5>
                  <p class="card-text">Send ether from one account to another. 
                    Includes Simple, Dynamic and legacy transactions, signing a transaction, send raw transaction
                  </p>
                  <a href="/maketransactions/sendtransactions" class="btn btn-primary">SEND</a>
                </div>
              </div>
        </div>
         

        <div class="container">
          <div style="position: relative; width: 800px; height: 200px; align: bottom;">    
          <div style="position: absolute; bottom: 5px;">
            <p class="lead">
              Make Transactions and get transaction details.
            </p>
          </div>
        </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>